body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: #1b1b1b;
  color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


header {
  position: relative;
  background-color: #292929;
  padding: 10px 20px;
  color: #ffffff;
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1vw;
}

.header-content img {
  border-radius: 50%;
}


.headerButton {
  width: 10vw;
  height: 5vw;
  border: none;
  border-radius: 1vw;
  background-color: #fea319;
  color: #1b1b1b;
  font-size: 1.3vw;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

.headerButton:hover {
  background-color: #ffb93f;
}

.buttons {
  margin-left: auto;
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}


.servers {
  padding-left: 0.5%;
  padding-right: 0.5%;
  width: 5%;
  background-color: #292929;
}

.serverButton,
.serverButtonText {
  padding: 0.25%;
  width: 5vw;
  height: 5vw;
  border: none;
  border-radius: 1.5vw;
  background-color: #fea319;
  color: #1b1b1b;
  font-size: 1.3vw;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

.serverButton:hover,
.serverButtonText:hover {
  background-color: #ffb93f;
}

.serverButtonText {
  text-align: center;
}


.room {
  margin-bottom: 3.5%;
  margin-right: 5%;
  background-color: #292929;
  border-radius: 1vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5vw;
  transition: 0.2s ease;
}

.room:hover {
  background-color: #323232;
}

.roomImage {
  width: 2vw;
  height: 2vw;
  border: none;
  color: white;
  margin-right: 0.5vw;
  border-radius: 0.5vw;
}

.roomText {
  font-size: 1.3vw;
}


.left {
  padding-left: 0.5%;
  width: 15%;
  background-color: #292929;
}

.center {
  padding-left: 0.5%;
  flex: 1;
  background-color: #1b1b1b;
}

.right {
  padding-left: 0.5%;
  width: 20%;
  background-color: #292929;
}


.userDiv {
  margin-bottom: 3.5%;
  margin-right: 5%;
  background-color: #292929;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5vw;
  transition: 0.2s ease;
}

.userDiv:hover {
  background-color: #323232;
}

.userProfileImg {
  width: 3.5vw;
  height: 3.5vw;
  border: none;
  border-radius: 35%;
}

.userName {
  font-size: 1.5vw;
  margin-left: 1vw;
  color: #ffffff;
}


.profileSettingsButton {
  width: 8vw;
  height: 3vw;
  background-color: #fea319;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw;
  cursor: pointer;
  transition: 0.2s ease;
}

.profileSettingsButton:hover {
  background-color: #ffb93f;
}

.profileSettingsImg {
  width: 3.5vw;
  height: 3.5vw;
  border: none;
  border-radius: 5%;
}
