.buttons {
  margin-left: auto;
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1vw;
}

header {
  position: relative;
  background-color: #0066ff;
  padding: 10px 20px;
  color: white;
}

.headerButton {
  width: 10vw;
  height: 5vw;
  border: none;
  border-radius: 1vw;
  background-color: #003d99;
  color: white;
  font-size: 1.3vw;
  cursor: pointer;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  height: 4vw;
  color: white;
  font-size: 1.2vw;
  background-color: #0066ff;
  padding: 10px 20px;
  text-align: center;
  margin-top: 1vw;
}

.header-content img {
  border-radius: 50%;
}

.servers {
  padding-left: 0.5%;
  padding-right: 0.5%;
  width: 5%;
  background-color: #a9c1e6;
}

.serverButton,
.serverButtonText {
  padding: 0.25%;
  width: 5vw;
  height: 5vw;
  border: none;
  border-radius: 1.5vw;
  background-color: #003d99;
  color: white;
  font-size: 1.3vw;
  cursor: pointer;
}

.serverButtonText {
  text-align: center;
  text-justify: center;
}

.room {
  margin-bottom: 3.5%;
  margin-right: 5%;
  background-color: #059cd8;
  border-radius: 1vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5vw;
}

.roomImage {
  width: 2vw;
  height: 2vw;
  border: none;
  color: white;
  margin-right: 0.5vw;
  border-radius: 0.5vw;
}

.roomText {
  font-size: 1.3vw;
}

.left {
  padding-left: 0.5%;
  width: 15%;
  background-color: #d0e6f6;
}

.center {
  padding-left: 0.5%;
  flex: 1;
  background-color: #f0f0f0;
}

.right {
  padding-left: 0.5%;
  width: 20%;
  background-color: #cde6cd;
}

.userDiv {
  margin-bottom: 3.5%;
  margin-right: 5%;
  background-color: #90c790;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5vw;
}

.userProfileImg {
  width: 3.5vw;
  height: 3.5vw;
  border: none;
  border-radius: 35%;
}

.userName {
  font-size: 1.5vw;
  margin-left: 1vw;
}

.profileSettingsButton {
  width: 8vw;
  height: 3vw;
  background-color: #90c790;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw;
}

.profileSettingsImg {
  width: 3.5vw;
  height: 3.5vw;
  border: none;
  border-radius: 5%;
}