.profile-menu, .buttons {
    position: relative;
    display: inline-block;
}

.header-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; /* nadpis vlevo, obrĂˇzek vpravo */
    margin-left: 1vw;
}

header {
    background-color: #0066FF;
    padding: 10px 20px;
    color: white;
}

.headerButton {
    width: 10vw;
    height: 5vw;
    margin-right: 1vw;
    border: none;
    border-radius: 1vw;
    background-color: #003D99;
    color: white;
    font-size: 1.3vw;
    cursor: pointer;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    margin-left: 2vw;
}

body {
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    height:4vw;
    color: white;
    font-size: 1.2vw;
    background-color: #0066FF;
    padding: 10px 20px;
    text-align: center;
    margin-top:1vw;
}

.header-content img {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .main, .page-wrapper {
        position: relative;
    }
}